<h2>Welcome to</h2>
<h1>Spotisearch</h1>
<p>Search your favorite songs over Spotify, just enter an artist's name in the following search box and enjoy!</p>
<form>
  <div class="form-group">
    <input 
      type="text" 
      class="form-control" 
      id="formGroupExampleInput" 
      placeholder="Type the name of your favorite artist"
    >
  </div>
</form>
<div class="row" *ngFor="let artist of artists">
  <div class="col-12 col-md-6">
    <div class="artist">
     
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="artist">
      artista 2
    </div>
  </div>
  <div class="col-12 col-md-6">    
    <div class="artist">
      artista 3
    </div>
  </div>
</div>